<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="dicoding:email" content="icanurpramanti2@gmail.com">
  <meta name="description" content="Capstone SIB Dicoding PAFA">
  <meta name="theme-color" content="#C68B59"/>

  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap" rel="stylesheet">
  <link rel="icon" href="./icon.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
 
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>PAFA  | Parenting Family Solution </title>
</head>
<body>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>PAFA</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/beranda">Home</a></li>
        <li><a href="#/about-us">About Us</a></li>
        <li><a href="#/berita">Berita</a></li>
      </ul>
    </nav>
  </header>
  <div class="hero">
    <div class="hero-inner">
      <h1 class="hero-title">Selamat Datang Di</h1>
      <h1 class="hero-title">PAFA</h1>
      <p class="hero-tagline">Parenting & Family Solution</p>
    </div>
  </div>
  <hr>
  <main id="mainContent">
  

  </main>

  <footer>
    <p>Copyright @2022 Tim Dev PAFA | Parenting Family Solution</p>
  </footer>
</body>
</html>
