* {
  padding: 0;
  margin: 0;
}
 
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #F4DFD0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
 
 
/*
  AppBar
*/
 
.app-bar {
  padding: 8px 16px;
  background-color: #C68B59;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  height: 60px;
}
 
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  min-width: 44px;
  min-height: 44px;
}
 
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__brand h1 {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  user-select: none;
}
 
.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: #C68B59;
  overflow: hidden;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
}
 
.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  min-width: 44px;
  min-height: 44px;
}
 
/* hero jumbotron */
.hero {
  display: grid;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: url("../public/images/heros/ibumuda.jpeg");
  background-position: center;
  background-size: cover;
  margin-top: auto;
}

.hero-inner {
  margin: 0 auto;
  max-width: 800px;
}

.hero-title {
  font-weight: 400;
  color:white;
  font-size: 60px;
  text-shadow: 2px 2px #C68B59;
  font-weight: bolder;
}

.hero-tagline {
  color: #C68B59;
  margin-top: 16px;
  font-size: 35px;
  line-height: 48px;
  font-weight: 300;
  text-shadow: 2px 2px #fffdfa;
  font-weight: bolder;
}
/* Search */
.search-container {
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 5px;
  display: flex;
  position: sticky;
  top: 10px;
  margin-top: 10px;
  margin-left: 25%;
  margin-right: 25%;
  
}

.search-container > input {
  width: 75%;
  padding: 16px;
  border: 0;
  border-bottom: 1px solid #C68B59;
  font-weight: bold;
  background-color: #F4DFD0;
  
  
}

.search-container > input:focus {
  outline: 0;
  border-bottom: 2px solid #C68B59;
  
}

.search-container > input:focus::placeholder {
  font-weight: bold;
}

.search-container > input::placeholder {
  color: #C68B59;
  font-weight: normal;
}

.search-container > button {
  width: 23%;
  cursor: pointer;
  margin-left: auto;
  padding: 16px;
  background-color: #C68B59;
  border: 0;
  text-transform: uppercase;
}



/*
  Main Content
*/
 
main {
  padding: 32px;
  flex: 1;
}
 
.content {
  margin: 0 auto;
  min-height: 100%;
}
 
.content .content__heading {
  font-weight: normal;
  text-align: center;
  margin: 10px;
  padding: 10px;

}
 
 
/*
  pafas
*/
 
.pafas {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}
 
 
/*
  pafa Item
*/
 
.pafa-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}
 
.pafa-item__header {
  position: relative;
}
 
.pafa-item .pafa-item__header .pafa-item__header__poster {
  width: 100%;
}
 
.pafa-item .pafa-item__header .pafa-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}
 
.pafa-item .pafa-item__header .pafa-item__header__rating .pafa-item__header__rating__score {
  margin-left: 10px;
}
 
.pafa-item .pafa-item__content {
  padding: 16px;
  text-align: center;
}
 
.pafa-item .pafa-item__content h3 {
  margin: 0 0 10px 0;
}
 
.pafa-item .pafa-item__content h3 a {
  color: #db0000;
  text-decoration: none;
}
 
.pafa-item .pafa-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
 
 
/*
  pafa
*/
 
.pafa {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}
 
.pafa .pafa__poster {
  width: 100%;
  max-width: 400px;
}
 
.pafa .pafa__info h4 {
  margin: 8px 0;
}

.pafa .pafa__overview {
  text-align: justify;
}
 
 

  /*
Artikel Terbaru
*/
.utama {
width: 95%;
margin: 5px auto;
text-align: center;
padding: 30px;
}

.utama-label {
font-size: 32px;
font-weight: lighter;
font-family: cursive;
color: #D27C2C;
}

.utama-label::after {
content: '';
display: block;
border-bottom: 1px solid color #D27C2C;
}



/*
data
*/

.data{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-column-gap: 10px;
margin-bottom: 20px;
}

.featured-image {
width: 100%;
max-height: 300px;
object-fit: cover;
object-position: center;
}

.card{
margin-left: 10px;
padding: 20px;
margin-top: 15px;
}

.tagline{
  text-align: center;
  background-color: #C68B59;
  color: white;
}

/*
artikel
*/
.main-content{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap:16px;
padding: 20px;
margin: 20px;
color: #C68B59;
box-sizing: border-box;
}

.content-awal{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid;
  align-items: center;
  min-height: 380px;
  width: 90%;
  padding: 20px;
  text-align: justify;
  background-color: antiquewhite;
  background-position: center;
  background-size: cover;
  margin-top: auto;
}


/*
about-us
*/

.about-us{
display: grid;
grid-template-columns: 1fr 1fr;
}


.text-container p:nth-child(1){
font-family: calibri;
font-weight: bold;
color: #6d6d6d;
font-size: 22px;
}

.text-container p{
font-family: calibri;
font-weight: bold;
color: #1a1a1a;
font-size: 60px;
}

.text-container p:nth-child(3){
font-family: myriad pro regular;
color: #403e3e;
font-size: 30px;
line-height: 30px;
}

.text-container p:nth-child(4){
font-family: calibri;
color: #403e3e;
font-size: 17px;
margin-top: 10px;
line-height: 30px;
}

.text-container p{
margin: 55px 0px 25px;
}

.text-container{
background-position: left;
position: relative;
left:10%;
margin: 20px;
padding: 10px;
width: 50%;

}

.text-container button{
width: 130px;
height: 42px;
border-radius: 10px;
font-family: calibri;
font-weight: bold;
font-size: 14px;
outline: none;
margin: 0px 10px;
}

.hire-btn{
border: 2px solid #373636;
color: #373636;
margin: 10px ;
}

.down-cv{
background-color: #0b0b0b;
color: #ffffff;
border: none;
}

button:active{
transform: scale(1.1);
}

.model{
height: 300px;

 }

.tombol{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/*
namaprofil
*/
.namatim {
  width: 95%;
  margin: 5px ;
  text-align: center;
  }
  
  .namatim-label {
  font-size: 32px;
  font-weight: lighter;
  font-family: cursive;
  color: #D27C2C;
  }
  
  .utama-label::after {
  border-bottom: 1px solid color #D27C2C;
  }

 /*
 profiltim
 */

 .tim{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:6px;
  margin: 10px;
  padding: 10px;
  color: #C68B59;
  
   }

 .our-team{
  margin: 10px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  margin-left: 10px;
  padding: 20px;
  margin-top: 15px;
}

.our-team img{
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  }

.our-team .pic{
   width: 100%;
    height: auto;
    border-radius: 100%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}


.our-team:hover .pic:before
{
  height: 100%;
}

.our-team .pic:after
{
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0; 
  z-index: -1;
}

.our-team .pic img{
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}



.our-team .team-content
{
  margin-bottom: 10px;
}

.our-team .title{
  font-size: 22px;
  font-weight: 700;
  color:#4e5052;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.our-team .post{
  display: block;
  font-size: 15px;
  color:#4e5052;
  text-transform: capitalize;
}

/*
Like
*/
.like {
width: 55px;
height: 55px;
display: flex;
align-items: center;
justify-content: center;
background-color: #db0000;

position: fixed;
bottom: 16px;
right: 16px;
border-radius: 50%;
border: 0;

font-size: 18px;
color: white;
cursor: pointer;
}

 
/*
  Footer
*/
 
footer {
  padding: 16px;
  background-color: #C68B59;
}
 
footer p {
  text-align: center;
  color:black;
}
 
footer p a {
  color: #db0000;
  text-decoration: none;
}